<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <!-- <link rel="stylesheet" href="./static/stylebot.css"> -->
    <link rel="stylesheet" href="./static/open.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/20c5629a29.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;500;600&display=swap">
   <style>
       
        body {
            scroll-behavior: smooth;
        }
    </style>

</head>

<body>
    
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
        <a class="navbar-brand food-munch-logo" style="display: flex;flex-direction: row; align-items: center; justify-content: center;" href="#">
            <!-- &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  -->
            <p><img src= "./static/logo.jpg" width="46" height="33"></p>
            <p style="font-size: 34px; font-family: 'MuseoModerno', sans-serif;margin-left: 1vw; "> DiabeticVision Check</p>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div id="navtools" class="navbar-nav ml-auto">
                <a class="nav-link" id="navitem2" href="#exp">About Us &nbsp&nbsp</a>
                <a class="nav-link" id="navitem3" href="/sign">Sign up &nbsp&nbsp</a>
                <a class="nav-link" id="navitem4" href="/login">Login </a>
            </div>
        </div>
    </div>
</nav>

<div class="banner-section-bg-container d-flex flex-column justify-content-center">  
</div>


<h1 style="margin-left: 4vw;margin-top: 3vh;">About Us :</h1>

 <div id="exp" class="healthy-food-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="text-center">
                    <img src="./static/eye.jpg" class="healthy-food-section-img" style="height: 38vh; width: 30vw; border-radius: 20px; border: transparent;box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);" />
                </div>
            </div>
            
            <div class="des1 col-12 col-md-6" style="width: 100vw;" >
                <h1 class="healthy-food-section-heading">
                    What is Diabetic Retinopathy(DR)? </h1>
                <p class="healthy-food-section-description" style="text-align: justify;">
                    Diabetic retinopathy (DR) is a complication of diabetes that damages the light-sensitive retina in your eye. High blood sugar weakens tiny blood vessels in the retina, causing them to leak fluid or bleed. In some cases, abnormal new blood vessels grow, further threatening your vision. Early DR often has no symptoms, but regular eye exams can detect it before vision loss occurs.     
                </p>
            </div>
            
        </div>
    </div>
</div>


<div class="healthy-food-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            
            <div class="des1 col-12 col-md-6">
                <h1 class="healthy-food-section-heading">
                    Why is Early Detection Important?
                </h1>
                <p class="healthy-food-section-description" style="text-align: justify;">
                    Early detection of diabetic retinopathy (DR) is crucial! DR often progresses silently, with no warning signs until vision is already at risk.
                    However, catching DR early allows for treatment that can prevent vision loss entirely. Regular eye exams are your best defense against blindness from DR. Don't wait for symptoms - schedule your screening today!</p>
               
            </div>
            
            <div class="col-12 col-md-6">
                <div class="text-center">
                    <img src="./static/eye1.jpg" style="border-radius: 20px; border: transparent;box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); width: 30vw; height: 38vh;"  class="healthy-food-section-img" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="healthy-food-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="text-center">
                    <img src="./static/eye2.jpg" style="border-radius: 20px; border: transparent;box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); width: 30vw; height: 38vh;"  class="healthy-food-section-img" />
                </div>
            </div>
            <div class="des1 col-12 col-md-6">
                <h1 class="healthy-food-section-heading">
                    Our Screening Process Section:       </h1>
                <p class="healthy-food-section-description" style="text-align: justify;">
                    Our painless screening process is quick and efficient. We leverage advanced deep learning technology, like ResNet neural networks, to analyze retinal images. These powerful algorithms can automatically detect subtle signs of diabetic retinopathy, allowing for early intervention and improved vision outcomes.
                                </p>
                
            </div>
            
        </div>
    </div>
</div>

<div class="healthy-food-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            
            <div class="des1 col-12 col-md-6">
                <h1 class="healthy-food-section-heading">
                    Benefits of Screening Section:
                </h1>
                    <ul style="font-size: 18px; text-align: justify;">
                        <li>Painless & Quick: Our process is comfortable and takes minimal time.</li>
                        <li>Accurate Results: Deep learning technology ensures reliable detection of eye issues.</li>
                        <li>Convenient Scheduling: Schedule your screening easily online or by phone.</li>
                      </ul>   
               
            </div>
            
            <div class="col-12 col-md-6">
                <div class="text-center">
                    <img src="./static/eye3.jpeg" style="border-radius: 20px; border: transparent;box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); width: 30vw; height: 38vh;"  class="healthy-food-section-img" />
                </div>
            </div>
        </div>
    </div>
</div>

 



<div id="fu" class="follow-us pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="follow-us-section"><u>Follow Us</u></h1>
            </div>
            <div class="col-12">
                <div class="d-flex flex-row justify-content-center">
                    <div class="follow-us-icon-container">
                        <i class="fab fa-twitter icont"></i>
                    </div>
                    <div class="follow-us-icon-container">
                        <i class="fab fa-instagram iconi"></i>
                    </div>
                    <div class="follow-us-icon-container">
                        <i class="fab fa-facebook iconf"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

 





<!-- <script type="text/javascript" src="./static/app.js"></script>
<script>   
// Add smooth scrolling for the navigation links
    $(document).ready(function(){
        $("#navitem2").on('click', function(event) {
            if (this.hash !== "") {
                event.preventDefault();
                var hash = this.hash;
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 3800, function(){
                    window.location.hash = hash;
                });
            }
        });
    });
</script> -->